name: Post

on:
  schedule:
   - cron: '5 14 * * *' # 23:05 JST
  workflow_dispatch:

# Define the jobs that will run jins-reporter.py
jobs:
  post:
    name: Post
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas
          pip install matplotlib
          pip install statsmodels
          pip install tweepy
      - name: Run jins-reporter.py
        run: |
          python jins-reporter.py
        env: 
          JINS_TOKEN: ${{ secrets.JINS_TOKEN }}
          CONSUMER_KEY: ${{ secrets.CONSUMER_KEY }}
          CONSUMER_SECRET: ${{ secrets.CONSUMER_SECRET }}
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          ACCESS_TOKEN_SECRET: ${{ secrets.ACCESS_TOKEN_SECRET }}

