name: Post

on:
  schedule:
   - cron: '5 11 * * *' # 20:05(Mon) JST
  workflow_dispatch:

# Define the jobs that will run jins-reporter.py
jobs:
  post:
    name: Post
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas
          pip install tweepy
      - name: Run jins-reporter.py
        run: |
          python jins-reporter.py
        env: 
          JINS_TOKEN: ${{ secrets.JINS_TOKEN }}
          TWITTER_CONSUMER_KEY: ${{ secrets.TWITTER_CONSUMER_KEY }}
          TWITTER_CONSUMER_SECRET: ${{ secrets.TWITTER_CONSUMER_SECRET }}
          TWITTER_ACCESS_TOKEN: ${{ secrets.TWITTER_ACCESS_TOKEN }}
          TWITTER_ACCESS_TOKEN_SECRET: ${{ secrets.TWITTER_ACCESS_TOKEN_SECRET }}

